.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.videoElementWrapper {
  width: 100% ;
  max-height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.videoElementStyles {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: black;
  display: block;
  outline: none;

  
}

.titleElement {
z-index: 2;
width: 100%;
height: 100%;
position: absolute;
background-color: black;
display: flex;
display: -webkit-flex;
justify-content: center;
align-items: center;
animation: fade 3s;
-moz-animation: fade 3s; /* Firefox */
-webkit-animation: fade 3s; 
    
    

}




@keyframes fade {
  0% {
      opacity:0;
  }
  50% {
      opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-webkit-keyframes fade { /* Safari and Chrome */
  0% {
    opacity:0;
}
50% {
    opacity:1;
}
100% {
  opacity:0;
}
}

